// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  color:blue;
  margin-top:50px;

}

nav ul li{
 display: inline-block;
 padding: 10px 10px 10px;
}
nav ul{
 float:right;
}
nav {
 background-color: black;
 position:fixed;
 width:100%;
 top:0;

}


footer{
 font-family: Verdana;
 margin-top: 20px;
}
